*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/wallpaper.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    
}

.wrapper{
    align-items: center;
    justify-content: 30%;
   padding-bottom: 500px;
   margin: 500px;
    width: 820px;
    height: 800px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: aliceblue;
   
    border-radius: 10px;
   padding: 30px 40px;
}
.wrapper h1{
 font-size: 40px;
 text-align: center;
 color: #070606;
}
.input-box{
    width: 100%;
    height: 100%;
    margin: 30px 0;
}
.input-box1{
    width: 100%;
    height: 400px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 2555, 2);
    border-radius: 40px;
    font-size: 16px;
    color: #070606;
    padding: 20px 45px 20px 20px;
}
.input-box1 input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 2555, 2);
    border-radius: 40px;
    font-size: 16px;
    color: #070606;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #090707;
}
.input-box i{
   position: absolute;
   right:650px;
   
   transform: translateY(100%);
   
   font-size: 20px;
}
.remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px ;

}
.remember-forget label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forget a{
    color: #fff;
    text-decoration: none;
    
}
.remember-forget a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}
.wrapper .resister-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    
}
.resister-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.resister-link p a:hover{
    text-decoration: underline;
}
.footer{
    text-align: end;
    align-items: end;
    
}
.section{
    background: #c6c9e6;
}